h1{
    color: purple;
    background-color: antiquewhite;
    text-align: center;
}
.topbar{
    color: rgb(234, 225, 213);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-attachment: fixed;
    background-color: rgb(234, 225, 213);
}
.contacto{
    text-align: left;
    width: 33%;
}
.index{
    text-align: center;
    width: 33%;
}
.sobreNosotros{
    text-align: right;
    width: 33%;
}
#sobreNosotros{
    color:blueviolet;
    margin: 20px;
    width: 300px;
    height: 200px;
    border: solid 3px blue;
    padding: 10px;
    background-image: "./img/images.jpeg";
    border-radius: 25%;
}
#gatito1{
    border-radius: 25%;
}